<header id="header">
  <div class="wrap">
    <div class="menu-hambeger">
      <div class="button">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <span class="text">menu</span>
    </div>
    <a href="./" class="logo">
      <img src="/img/logo.svg" alt="" />
      <h1>Spacedev</h1>
    </a>
    <div class="right">
      <div class="have-login">
        <div class="account">
          <a href="./profile.html" class="info">
            <div class="name">Đặng Thuyền Vương</div>
            <div class="avatar">
              <img src="/img/avt.png" alt="" />
            </div>
          </a>
        </div>
        <div class="hamberger"></div>
        <div class="sub">
          <a href="#">Khóa học của tôi</a>
          <a href="#">Thông tin tài khoản</a>
          <a href="#">Đăng xuất</a>
        </div>
      </div>
      <!-- <div class="not-login bg-none">
                    <a href="#" class="btn-register">Đăng nhập</a>
                    <a href="login.html" class="btn main btn-open-login">Đăng ký</a>
                </div> -->
    </div>
  </div>
  <div class="progress"></div>
</header>
